.container-fix{
    margin-top: 2%;
}

.tittle {
    padding: 4%;
} 

.tittle p {
    color: aliceblue;
}

.tittlefix {
    font-variant-caps: all-small-caps ;
    color: aliceblue;
}

.form_inputs_margin {
    margin-bottom: 2%;
}

.hidden {
display: none;

}

.rule{
    padding-top: 5%;
    text-align: center;
}